TWITCH_CHANNEL=j0ride
TWITCH_BOT_NAME=j0ride
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
OAUTH_REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_DEVICE_ID=
USER_COOLDOWN=60
GLOBAL_COOLDOWN=5
REQUEST_PERMISSION=everyone
BLACKLIST_USERS=
BLACKLIST_TRACKS=
BLACKLIST_ARTISTS=
ALLOW_EXPLICIT=true
MAX_DURATION_SECONDS=600
MAX_PENDING_REQUESTS=30
